<!-- <h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p> -->
<!-- Use this to debug -->
 
<!-- <%= p params %> -->

<h1>Welcome! Please enter your credentials below</h1>

<%= form_tag("/", method: "post") do %>
	<%= label_tag(:user, "Username:") %>
	<%= text_field_tag(:user) %>
	<%= label_tag(:password, "Password:") %>
	<%= text_field_tag(:password) %>
	<%= submit_tag("Add User", :onclick => "this.form.action = '"+url_for(controller: 'users',
        action: 'add')+"'") %>
	<%= submit_tag("Login", :onclick => "this.form.action = '"+url_for(controller: 'users',
        action: 'login')+"'") %>

<% end %>




