<!-- <h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p> -->
<!-- Use this to debug -->
 
<!-- <%= p params %> -->
<% if @user.instance_of?(User) %>
	<h3>Welcome back <%= @user.user %> <h3>
	<h4>You have visited <%= @user.count %> times!</h4>
	<%= form_tag("/", method: "get") do %>
		<%= submit_tag("Logout", :onclick => "this.form.action = '/users'") %> 
	<% end %>
<% else %>
	<% if @user == -1 %>
		<h1>Welcome! </h1> 
		<h4> ERROR: Invalid Username and Password Combination. Please try again.</h4>
	<%end%>


	<%= form_tag("/", method: "post") do %>
		<%= label_tag(:user, "Username:") %>
		<%= text_field_tag(:user) %>
		<%= label_tag(:password, "Password:") %>
		<%= password_field_tag(:password) %>
		<%= submit_tag("Add User", :onclick => "this.form.action = '"+url_for(controller: 'users',
	        action: 'add')+"'") %>
		<%= submit_tag("Login", :onclick => "this.form.action = '"+url_for(controller: 'users',
	        action: 'login')+"'") %>

	<% end %>	
<% end %>